table, td, tr, th {
    border-style:dotted;
    border:1px solid black;
    overflow-x: auto;
}
tr:nth-child(even) {
    background-color:rgb(160, 158, 158)
}
tr:hover{
    background-color: rgb(47, 70, 100);
}